img[title="me"] {
    /*center img*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-radius: 25%;
    border-color: black;
    border-size: 1px;
}

#mechbits > h1 {
    text-align: center;
}

#mechbits > p {
    text-align: center;
}

